.header{
  padding: 2rem;
  background-color: black;
}
.header ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.header a{
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
}
.timer{
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}
.timer span{
  line-height: 5rem;
  font-size: 6rem;
  cursor: pointer;
}
.timer span:hover{
  color:#556BB5 ;
}
.timer button{
  border-radius: 50%;
  padding: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  border: none;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  font-family: inherit;
}
.start{
  background-color: #17a69d;
  color: white;
}
.reset{
  color: #837f7f;
  background-color: white;
}
.stop{
  background-color: #fb647f;
  color: white;
}

.ui{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ui p{
  margin: 1rem;
  font-size: 1.2rem;
  font-family: inherit;

}
.ui progress{
  width: 50%;
  border-radius: 0.5rem;
  height: 3vh;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.ui progress::-webkit-progress-bar{
  background-color: yellow;
  border-radius: 0.5rem;
}
.ui progress::-webkit-progress-value{
  background-color: blue;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.8);
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.data p{
  margin: 1rem 0;
  font-family: inherit;
  font-size: 1.2rem;
}
.data iframe{
  margin: 1rem;
  border-radius: 10px;
}
.error{
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  font-size: 1.3rem;
  font-family: inherit;
  color: red;
}