.header{
  padding: 2rem;
  background-color: black;
}
.header ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.header a{
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
}
.timer{
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}
.timer span{
  line-height: 5rem;
  font-size: 6rem;
  cursor: pointer;
}
.timer span:hover{
  color:#556BB5 ;
}
.timer button{
  border-radius: 50%;
  padding: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  border: none;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  font-family: inherit;
}
.start{
  background-color: #17a69d;
  color: white;
}
.reset{
  color: #837f7f;
  background-color: white;
}

.ui{
  display: flex;
  justify-content: center;
}
.ui progress{
  width: 40%;
}